body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1, h2, h3 {
    color: #ffffff;
}

h2 {
    text-align: center;
    background-color: #8c0ef3;
    padding: 10px;
    border-radius: 5px;
}

.info-contacto {
    margin-bottom: 20px;
}

.seccion {
    margin-bottom: 20px;
}

.trabajo, .educacion {
    background-color: #f9f9f9;
    border-left: 4px solid #8c0ef3;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.trabajo h3, .educacion h3 {
    margin-top: 0;
    color: #000000;
}

.trabajo p, .educacion p {
    margin: 5px 0;
}

.lista-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.curso {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.imagen-diseno-grafico {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: black;
    color: rgb(55, 247, 189);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

footer h2 {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

header {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto-perfil {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    border-radius: 10px; 
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

.info-contacto {
    word-wrap: break-word; 
}

@media (max-width: 768px) {
    /* Ajustes para dispositivos móviles */
    .foto-perfil {
        width: 150px; 
        height: 100px;
        margin-bottom: 10px;
    }

    header {
        padding: 10px;
    }

    .info-contacto {
        font-size: 0.9em;
    }
}
